{% extends '/yann/base.html.twig' %}

{% block body %}
    <h1>Éditer un objectif</h1>

    {{ include('objectif/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_objectif_index') }}">back to list</a>

    {{ include('objectif/_delete_form.html.twig') }}
{% endblock %}
