{% extends '/yann/base.html.twig' %}
{% block body %}
    <h1>Éditer un fichier</h1>

    {{ include('file/_form.html.twig', {'button_label': 'Update'}) }}


    <a href="{{ path('app_file_index') }}">back to list</a>

    {{ include('file/_delete_form.html.twig') }}
{% endblock %}
