{% extends 'base.html.twig' %}

{% block body %}
    <div {{ react_component('LoanCalculator') }}>
    </div>
    <!-- end row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}