<!DOCTYPE html>

<title>New Vehicle</title>

{% block body %}
    <h1>Create new Vehicle</h1>

    {{ include('yann/vehicle-form.html.twig') }}

    <a href="{{ path('app_vehicle_index') }}">back to list</a>
{% endblock %}

//TODO file attachments