{% extends '/yann/base.html.twig' %}
{% block body %}
    <h1>Créer un employé</h1>

    {{ include('employee/_form.html.twig') }}

    <a href="{{ path('app_employee_index') }}">back to list</a>
{% endblock %}
