{% extends '/yann/base.html.twig' %}

{% block body %}
    <div {{ react_component('LoanCalculator') }}>
        <div>fbdf</div>
    </div>
    <!-- end row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}