{% extends '/yann/base.html.twig' %}
{% block body %}
    <h1>Éditer un tag</h1>

    {{ include('tag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tag_index') }}">back to list</a>

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
